.dopplerEffect {
  text-align: center;
  margin: 0 1rem;
  position: relative;
}

/* General element styles */

button {
  background-color: white;
  border: none;
  padding: 0.5rem;
  margin: 1rem;
  min-width: 2.5rem;
  min-height: 2.5rem;
  border-radius: 0.25rem;
  font-size: 1.5rem;
  line-height: 1rem;
}

img {
  max-height: 20rem;
}
